.tweet
  .title
    %span.name-details
      %a.name{href: '#'} Enova
      %a.handle{href: '#'}
        %span.at-sign @
        %span.handle-name enova
    %span.dot &#149;
    %span.date May 1
    %span.clearfix
  %p.content
    Good luck on finals!
    RT @zachary_bright: Thanks @enova for the finals care package!
    So excited to be in Chicago in just about a week!!
  .tweet-menu
    %ul
      %li= fa_icon 'reply'
      %li= fa_icon 'retweet'
      %li= fa_icon 'star'
      %li= fa_icon 'ban'
  %span.clearfix

