.btn {
  margin: 0;
  text-align: center;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  background: transparent;

  &:hover { }
  &:focus { }
}

.btn-primary {
  background: $brand-primary;
  color: #fff;
  @include transition(1s all linear);
  @include background-image(linear-gradient($brand-primary, darken($brand-primary, 10%)));

  &:hover {
    color: #fff;
    background: lighten($brand-primary, 10%);
    @include background-image(linear-gradient(lighten($brand-primary, 10%), $brand-primary ));
  }
}

.btn-default {
  background: $brand-primary;
  color: #fff;
  @include transition(1s all linear);
  @include background-image(linear-gradient($brand-primary, darken($brand-primary, 10%)));

  &:hover {
    color: #fff;
    background: lighten($brand-primary, 10%);
    @include background-image(linear-gradient(lighten($brand-primary, 10%), $brand-primary ));
  }
}

.btn-icon {
  padding: 0 15px;
  color: $search-bg;

  i {
    font-size: 24px;
    margin-top: 12px;
  }

  &:hover {
    color: $brand-primary;
  }
}
