.navbar {
  background: #fff;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.5);
  height: $navbar-height;
  position: fixed;
  z-index: 1000;

  .halo { background: none; }

  .logo {
    width: $navbar-logo-size;
    height: $navbar-logo-size;
    background: image-url('enova.png') no-repeat;
    background-size: 100%;
    text-indent: -9999px;
    position: absolute;
    top: 9px;
    left: 50%;
    margin-left: -$navbar-logo-size/2;

  }

  .nav-primary {
    li {
      a {
        font-size: 14px;
        padding: 0px 20px 0 10px;
        color: #666;
        @include transition(0.1s all linear);

        &:hover {
          border-bottom: 5px solid $brand-primary;
          color: $brand-primary;
        }
      }
    }
  }

  .nav-secondary {
    margin-left: 10px;

    li {
      a {
        @include transition(0.1s all linear);
        height: auto;
      }

      #compose {
        margin: 7px 10px;
        font-size: 20px;
        padding: 7px 8px 7px 11px;
      }
    }
  }

  .search {
    float: left;
    position: relative;

    .search-input {
      color: #fff;
      border: none;
      border-radius: 20px;
      padding: 7px 12px;
      padding-right: 28px;
      width: 250px;
      margin-top: 7px;
      background: $search-bg;
      @include transition(0.3s all linear);

      &:hover { background: darken($search-bg, 10%); }

      &:focus { background: darken($search-bg, 25%); }
    }

    .search-icon {
      position: absolute;
      right: 12px;
      top: 13px;
      color: #fff;
    }
  }
}

.nav {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    box-sizing: border-box;
    float: left;

    a {
      height: $navbar-height - 1;
      display: block;
      line-height: 1;
      @include clearfix;
    }

    .link-text {
      float: left;
      margin-left: 5px;
      margin-top: 18px;
    }

    .icon {
      float: left;
      font-size: 18px;
      margin-top: 16px;
    }
  }
}

.profile-navbar {
  @extend .navbar;
  top: auto;
  height: $profile-navbar-height;
  border-radius: 0;
  position: relative;
  z-index: 100;
  margin: 0;

  .nav {
    width: 100%;

    li {
      box-sizing: border-box;
      text-align: center;
      padding: 10px 10px 5px;
      height: $profile-navbar-height - 1;
      @include transition(0.1s all linear);

      span {
        display: block;
      }

      .text {
        font-size: 12px;
        font-weight: 300;
        text-transform: uppercase;
        color: grey;
        margin-top: 2px;
      }

      .value {
        font-weight: bold;
        font-size: 18px;
        color: $brand-primary;
        margin-top: 3px;

        i {
          color: $search-bg;
          float: none;
          margin-top: 0;
        }
      }

      &.active, &:hover {
        border-bottom: $navbar-border-height solid $brand-primary;
        .value { color: #222; }
      }

      &.more {
        padding-left: 24px;
        @include transition(0.5s all linear);

        &.active, &:hover {
          border-bottom: none;
          position: relative;

          .value { color: #222; }

        }
      }
    }
  }
}

.profile-nav:first-child {
  margin-left: 10px;
}

