.navbar {
  background: #fff;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.5);
  height: $navbar-height;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  .logo {
    width: $navbar-logo-size;
    height: $navbar-logo-size;
    background: image-url('enova.png') no-repeat;
    background-size: 100%;
    text-indent: -9999px;
    position: absolute;
    top: 9px;
    left: 50%;
    margin-left: -$navbar-logo-size/2;
  }

  .nav {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      height: $navbar-height;

      a {
        height: $navbar-height;
        display: block;
        line-height: 1;
        @include clearfix;
      }

      .link-text {
        float: left;
        margin-left: 5px;
        margin-top: 18px;
      }
      
      .icon {
        float: left;
        font-size: 18px;
        margin-top: 16px;
      }
    }
  }

  .nav-primary {
    li {
      a {
        font-size: 14px;
        padding: 0px 20px 0 10px;
        color: #666;

        &:hover {
          border-bottom: 5px solid $brand-primary;
          color: $brand-primary;
        }
      }
    }
  }

  .nav-secondary {
    margin-left: 10px;

    li {
      a { height: auto; }

      #compose {
        margin: 7px 10px;
        font-size: 20px;
        padding: 7px 8px 7px 11px;
      }
    }
  }

  .search {
    float: left;
    position: relative;

    .search-input {
      background: $search-bg;
      color: #fff;
      border: none;
      border-radius: 20px;
      padding: 7px 12px;
      padding-right: 28px;
      width: 250px;
      margin-top: 7px;
      @include transition(0.1s all linear);

      &:focus { background: darken($search-bg, 25%) }
    }

    .search-icon {
      position: absolute;
      right: 12px;
      top: 13px;
      color: #fff;
    }
  }
}
