.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

.pull-left { float: left; }
.pull-right { float: right; }

.halo {
  @include transition(0.7s all linear);

  &:hover {
    @include background-image(
      radial-gradient(
        $navbar-logo-size,
        $navbar-logo-size,
        $brand-primary 10px,
        darken($brand-primary, 10%) 30px
      )
    );
  }
}
