@import 'normalize-rails';
@import 'variables';
@import 'mixins';
@import 'compass';
@import 'bootstrap-custom';
@import 'font-awesome';

@import 'common/navbar';
@import 'common/utility';
@import 'common/buttons';
@import 'common/tweet';

@import 'pages/profile';

input {
  outline: none;
}

body {
  background: #f5f8fa;
}

a:hover { text-decoration: none; }
