@import 'variables';
@import 'mixins';
@import 'bootstrap-custom';
@import 'font-awesome';

@import 'common/navbar';
@import 'common/utility';
@import 'common/buttons';

* {
  outline: 0;
  zoom: 1;
}

body {
  background: #ddd;
}

a:hover { text-decoration: none; }
