.navbar
  .container
    .pull-left
      %ul.nav
        %li 
          %a{href: '#'} 
            %span.icon icon
            %span.link-text Home
        %li 
          %a{href: '#'} 
            %span.icon icon
            %span.link-text Notifications
        %li 
          %a{href: '#'} 
            %span.icon icon
            %span.link-text Discover
        %li 
          %a{href: '#'} 
            %span.icon icon
            %span.link-text Me 

    .logo Enova

    .pull-right
      .search
        %input.search-input{type: 'text', placeholder: 'Search'}

      %ul.nav
        %li 
          %a{href: '#'} icon
        %li 
          %a{href: '#'} icon
        %li 
          %a{href: '#'} icon
      
