.profile-navbar
  .container
    .row
      .col-xs-3
        .profile-card
          .profile-avatar-small
            %a.avatar{href: '#'}
              = image_tag 'enova.png'
            .details
              %a.name{href: '#'} Enova
              %a.handle{href: '#'} 
                @
                %span enova
                %small follows you

      .col-xs-9
        %ul.nav
          %li.active
            %a{href: '#'} 
              %span.text Tweets
              %span.value 369
          %li
            %a{href: '#'} 
              %span.text Photos/videos
              %span.value 13 
          %li
            %a{href: '#'} 
              %span.text Following 
              %span.value 154
          %li
            %a{href: '#'} 
              %span.text Followers
              %span.value 410 
          %li
            %a{href: '#'} 
              %span.text Favorites 
              %span.value 14 
          %li.more
            %a{href: '#'} 
              %span.text &nbsp;
              %span.value
                More
                = fa_icon 'chevron-down'
